@use "../base/variables.scss" as *;

@mixin title {
  color: $dark;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}

@mixin button {
  display: block;
  padding: 0 10px;
  background-color: transparent;
  border: 1px solid $dark;
  border-radius: 2px;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  color: $dark;
  font-style: normal;
  line-height: normal;
  cursor: pointer;
}

@mixin angle-decoration {
  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: $dark;
  }
  &::after {
    width: 200px;
    height: 1px;
  }
  &::before {
    width: 1px;
    height: 200px;
  }
}
