@use "../base/variables.scss" as *;
@use "../base/mixins.scss" as *;

.about {
  padding-top: 50px;

  &__title {
    margin-top: 60px;
    font-size: 32px;
  }

  &__img {
    margin-top: 60px;
    width: 340px;
    height: 234px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
  }

  &__text {
    margin-top: 35px;
    font-weight: 400;
    font-size: 16px;
    color: $dark;
    line-height: normal;
  }
}

@media screen and (min-width: 768px) {
  .about {
    &__title {
      font-size: 36px;
    }

    &__wrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    &__img {
      width: 600px;
      height: 412px;
      box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
    }
  }
}

@media screen and (min-width: 1200px) {
  .about {
    &__wrapper {
      display: flex;
      flex-wrap: nowrap;
      margin-top: 60px;
    }

    &__img {
      margin-top: 0;
      min-width: 550px;
      min-height: 378px;
      box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
      object-fit: cover;
    }
    &__block {
      margin-left: 20px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    &__text {
      margin-top: 0;
    }
  }
}

@media screen and (min-width: 1920px) {
  .about {
    padding-top: 40px;
    &__title {
      margin-top: 100px;
    }
    &__wrapper {
      margin-top: 100px;
    }
    &__text {
      font-size: 20px;
    }
    &__img {
      min-width: 700px;
      min-height: 481px;
    }
  }
}
