@use "../base/variables.scss" as *;

.activities {
  padding-top: 60px;
  &__wrapper {
    margin-top: 20px;
    row-gap: 40px;
  }
  img {
    width: 100%;
    margin-top: 40px;
  }
  &__descr {
    font-weight: 400;
    font-size: 16px;
    color: $dark;
    margin-block-start: 20px;
    line-height: normal;
    span {
      color: $ceramic;
      font-weight: 500;
    }
  }
}

@media screen and (min-width: 768px) {
  .activities {
    padding: 60px 95px 0 95px;
    &__wrapper {
      margin-top: 40px;
    }
    &__text {
      margin-top: 25px;
      font-size: 20px;
    }
  }
}

// @media screen and (min-width: 1024px) {
//   .activities {
//     &__wrapper {
//       display: flex;
//       flex-wrap: nowrap;
//     }
//     &__col {
//       padding: 0 10px;
//     }
//   }
// }

@media screen and (min-width: 1200px) {
  .activities {
    padding: 60px 0 0 0;
    &__wrapper {
      margin-top: 80px;
      display: flex;
      flex-wrap: nowrap;
    }
    &__col {
      padding: 0 10px;
    }
    &__descr {
      font-weight: 400;
      font-size: 20px;
      color: $dark;
      &__fixed {
        inline-size: 556px;
      }
    }
    img {
      margin-top: 60px;
    }
  }
}

@media screen and (min-width: 1920px) {
  .activities {
    padding-top: 100px;
  }
}
