@use "../base/variables.scss" as *;
@use "../base/mixins.scss" as *;

.blog {
  padding-top: 50px;

  &__title {
    margin-top: 60px;
  }
  &__content {
    margin-top: 60px;
  }

  &__card {
    img {
      width: 100%;
    }

    border: 1px solid $dark;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
    background: var(--light);
    &__title {
      margin-top: 25px;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 24px;
      text-transform: uppercase;
      color: $dark;
    }
  }
  &__btn {
    width: 145px;
    height: 32px;
    margin-top: 25px;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: $dark;
  }
  &__text {
    margin-top: 25px;
    font-weight: 400;
    font-size: 16px;
    color: $dark;
  }
  &__cards {
    padding: 0 25px 25px 25px;
  }
}
