@use "../base/variables.scss" as *;

.touch {
  padding-top: 60px;
  .just-validate-error-field {
    border: none;
    outline: 1px solid $ui-error;
  }
  &__wrapper {
    margin-top: 60px;
  }
  &__img {
    display: none;
  }
  &__fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }
  &__label {
    display: block;
    color: $dark;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    &:nth-child(2) {
      margin-top: 8px;
    }
  }
  &__input {
    width: 100%;
    height: 48px;
    padding: 10px 15px;
    color: $dark;
    border-radius: 2px;
    border: 1px solid #e2e1e5;
    background: #fff;
    &:focus {
      border: none;
      outline: 1px solid $dark;
    }
    &::placeholder {
      color: $ui-disabled;
      font-size: 14px;
      font-weight: 400;
    }
  }
  &__textarea {
    width: 100%;
    height: 132px;
    padding: 10px 15px;
    color: $dark;
    border-radius: 2px;
    border: 1px solid #e2e1e5;
    background: #fff;
    resize: none;
    &:focus {
      border: none;
      outline: 1px solid $dark;
    }
    &::placeholder {
      color: $ui-disabled;
      font-size: 14px;
      font-weight: 400;
    }
  }
  &__check-blok {
    display: flex;
    align-items: center;
    margin-top: 20px;
    a {
      color: #a22dc6;
      text-decoration: none;
      margin-left: 2px;
    }
  }
  &__check-box {
    margin-right: 15px;
    width: 15px;
    height: 15px;
  }
  &__btn {
    margin-top: 20px;
  }

  &__vase {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .touch {
    &__form {
      position: relative;
      width: 300px;
      padding-left: 24px;
    }
    &__vase {
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 85px;
      height: 85px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .touch {
    &__img {
      display: block;
      width: 550px;
      height: 342px;
      object-fit: cover;
    }
    &__wrapper {
      display: flex;
      flex-wrap: nowrap;
    }
    &__input {
      &:hover {
        border: none;
        outline: 1px solid $dark;
      }
    }
    &__form {
      padding-left: 20px;
    }
    &__vase {
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 85px;
      height: 85px;
    }
  }
}

@media screen and (min-width: 1920px) {
  .touch {
    padding-top: 100px;
    &__img {
      width: 100%;
      height: 356px;
    }
    &__form {
      width: auto;
      padding-left: 143px;
    }
    &__vase {
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 85px;
      height: 85px;
    }
  }
}
